#summary-card-wrapper {
    width: 400px;
    height: 600px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;

    border: 20px solid #2D4263;
    border-radius: 10px;
}

#summary-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #2D4263;
}

#me-image {
    padding: 25px;
    border-radius: 200px;
}

#summary-text-container {
    padding: 20px;
    border-bottom: 1px solid #2D4263;
}

#summary-card-footer {
    height: 73px;
    display: flex;
    align-items: center;
}