#contact-wrapper {
    padding: 100px;
    color: #ECDBBA;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#contact-form-header {
    line-height: 50px;
}

#contact-form-container {
    display: flex;
}

#contact-form {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}