#projects-wrapper {
    height: 100%;
    background-color: #191919;
    display: flex;
    justify-content: center;
    align-items: center;
}

#projects-content {
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}