#navbar {
    min-height: 56px;
    background-color: black;
    display: flex;
    border-top: 0.1px solid #ECDBBA;
    border-bottom: 0.1px solid #ECDBBA;
}

#navbar-content {
    display: flex;
    align-items: center;
}

#navbar-menu {
    margin: 0;
    padding-left: 0px;
    display: flex;
}

.navbar-menu-brand {
    display: flex;
    width: 200px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #ECDBBA;
}

.navbar-menu-item {
    display: flex;
    width: 100px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #ECDBBA;
}

.navbar-menu-item-link {
    text-decoration: none;
    color: #DADBBD;
}